<h1>Books</h1>
<%= book.each  do |book| %>
  <%= image_tag @user.user.get_profile_image(100,100) %>
  <h4>Title</h4>
  <p><%= link_to "@book.title", "/books" %></p>

  <h4>Opinion</h4>
  <p><%= @book.body %></p>
<% end %>