<%= render 'booklist', user: @user %>
<h1>User</h1>
<% @user.each do |user| %>
  <%= image_tag user.get_profile_image(100,100) %>
  <h4>name</h4>
  <%= user.name %>

  <p><%= link_to "Show", "/books" %></p>
<% end %>
