<h2>Book detail</h2>
<%= form_with model: @book, url: book_path(@book.id),method: :patch do |f| %>
<span>
  <%= link_to book.title, book_path(book.id) %>
</span>
<span>
  <%= book.body %>
</span>
  <%= link_to user.name, book_path(book.id) %>
<% end %>
